;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   Configured from the default polybar config file
;   go to https://github.com/polybar/polybar for the default
;
;   The README contains a lot of information
;
;==========================================================

[colors]

;; Active Colors
background = #232832
foreground = #EAEAEA

;; Inactive colours
background-alt = #1C2028
foreground-alt = #676E7D

alert = #E53935

trans = #00000000
white = #FFFFFF
black = #000000

;; Material Colors

red = #e53935
pink = #d81b60
purple = #8e24aa
deep-purple = #5e35b1
indigo = #3949ab
blue = #1e88e5
light-blue = #039be5
cyan = #00acc1
teal = #00897b
green = #43a047
light-green = #7cb342
lime = #c0ca33
yellow = #fdd835
amber = #ffb300
orange = #fb8c00
deep-orange = #f4511e
brown = #6d4c41
grey = #757575
blue-gray = #546e7a


[bar/top]
width = 100%
height = 40
radius = 0
fixed-center = true
dim-value = 0
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
padding-left = 0
padding-right = 2

module-margin-left = 1
module-margin-right = 2

font-0 = "FontAwesome:size=18:style=Bold"
font-1 = "FontAwesome:size=10:style=Regular"
font-2 = "Monospace:size=18:style=Bold"
;siji:pixelsize=16;1

enable-ipc = true

modules-left = i3
modules-center = popcal
modules-right =  spotify pulseaudio wlan memory cpu powermenu

tray-position = right
tray-padding = 2
;tray-background = #0063ff

scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize
separator = "|"

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false
; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.lime}

; focused = Active workspace on focused monitor
label-focused = %name% 
label-focused-background = ${colors.light-green}
label-focused-underline= ${colors.purple}
label-focused-foreground =${colors.purple}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %name% 
label-unfocused-padding = 2
label-unfocused-foreground = ${colors.foreground-alt}
; visible = Active workspace on unfocused monitor
label-visible = %name%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %name% 
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

; Separator in between workspaces
label-separator = " "

[module/popcal]
type = custom/script
exec = /home/vineeth/.config/i3/scripts/calendar_pop.sh
interval = 5
click-left = /home/vineeth/.config/i3/scripts/calendar_pop.sh --popup &

format-prefix = "  " 
format-prefix-foreground = ${colors.indigo}
format-background = ${colors.background}
format-foreground = ${colors.lime}
format-underline= ${colors.indigo}

[module/spotify]
type = custom/script
interval = 1
format-prefix = " "
format = <label>
exec = python /home/vineeth/.config/i3/scripts/polybar-spotify.py -f '{album}: {song}-- {play_pause} ' -p ',' --playpause-font=1
click-left = python /home/vineeth/.config/i3/scripts/polybar-spotify.py -p ',' --playpause-font=1 --command 'toggle'
scroll-up = python /home/vineeth/.config/i3/scripts/polybar-spotify.py -p ',' --playpause-font=1 --command 'prev'
scroll-down = python /home/vineeth/.config/i3/scripts/polybar-spotify.py -p ',' --playpause-font=1 --command 'next'
format-underline = ${colors.teal}

[module/cpu]
type = internal/cpu
interval = 1
format-prefix = " "
format-prefix-foreground = ${colors.orange}
label = %percentage%%
label-foreground = ${colors.foreground}
format-underline = ${colors.orange}

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.yellow}
label = %gb_used%
format-underline = ${colors.yellow}

[module/wlan]
type = internal/network
interface = wlp39s0
interval = 3.0
format-connected = <label-connected>
format-connected-underline = ${colors.green}
format-connected-prefix = " "   
label-connected = %signal%%
format-connected-prefix-foreground = ${colors.green}
; %downspeed%  %upspeed%

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = false
format-volume = <ramp-volume>  <label-volume>
label-volume = %percentage%%
label-volume-foreground = ${root.foreground}

label-muted = 
label-muted-foreground = ${colors.red}

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
click-right = pavucontrol &
ramp-volume-foreground = ${colors.blue}
format-volume-underline = ${colors.blue}

[module/powermenu]
type = custom/text
interval = 1
content = "  "
content-background = ${colors.background}
content-foreground = ${colors.red}
click-left = $HOME/.config/i3/scripts/exit_menu.sh

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

[global/wm]
margin-top = 5
margin-bottom = 5
